body{
    background-color: black;
}

body img{
    width: 100%;
    height: 50vh;
}

.gray-background{
    background-color: gray;
    color: white;
}

.home{
    height: 61vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-img{
    margin-right: 250px;
    margin-bottom: 100px;
}

.home-img-mobile{
    width: 0px;
    height: 0px;
}

.home-text{
    max-width: 37rem;
    color: white;
    height: 50%;
    width: 100%;
    margin-bottom: 300px ;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-btn{
   background-color: blue;
   border: solid 2px red;
   cursor: pointer;
   padding: 0.8rem 3.8rem;
   border-radius: 9999px;
   color: white;
   font-weight: 500;
   font-size: 1rem;
   transition: all 0.2s;
   margin-bottom: 200px;
} 

.red-border{
    background-color: red;
    width: 100%;
    height: 6px;     
}

.white-border{
    background-color: white;
    width: 100%;
    height: 6px;  
}

.blue-border{
    background-color: blue;
    width: 100%;
    height: 6px;  
}

@media(max-width: 1600px){
    main img{
        width: 360px;
        height: 360px;
        margin-left: 120px;
    }

}

@media(max-width: 1440px){
    body img{
        width: 1440px;
    }

    main img{
        width: 360px;
        height: 360px;
        margin-left: 95px;
    }

}

@media(max-width: 768px){
    body img{
        width: 768px;
        height: 240px;
    }
 
   main img{
       width: 180px;
       height: 180px;
       margin-right: 10px ;
   }

}

@media(max-width: 640px){
    body img{
        width: 640px;
        height: 240px;
    }

    main img{
        width: 160px ;
        height: 160px;
        margin-left: 20px;
        margin-right: 10px;
        margin-bottom: 25px;
    }
    
}

@media(max-width: 624px){
    body img{
        width: 624px;
        height: 220px;
    }

    main img{
        width: 160px;
        height: 160px;
        margin-left: 5px;
        margin-right: 10px;
        margin-bottom: 25px;
    }
    
}

@media(max-width: 390px){
    body img{
        width: 385px;
        height: 160px;
    }

    main img{
        width: 60px;
        height: 60px;
        margin-left: 5px;
        margin-right: 10px;
        margin-bottom: 25px;
    }
    
}

.footer-content{
    display: flex;
    align-items: center;
    color: white;
    padding: 4rem 1rem;
    gap: 2rem;
}

.logo-footer{
    text-align: center;
}

.page-inner-content{
    margin: 0 auto;
    width: 100%;
}

.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}
